.Button {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 20px 25px;
  border-radius: 20px;
  border: 1px solid var(--color-primary);
  transition: all .3s ease-in-out;
}

.BgTransparent {
  background-color: transparent;
  border: 1px solid var(--color-primary);
}

.Button:hover{
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);

}

@media (width < 520px) {
  .Button {
    padding: 18px 24px;
    font-size: 18px;
  }
}
