.HeroStoreContainer {
  color: var(--color-white);
  background-color: #c7bba9;
  padding: 40px 0px;
}

.HeroStoreContainer h1{
  font-weight: 300;
}

.HeroStoreContainer h3 {
  color: var(--color-white);
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}


@media (width < 520px) {
  .HeroStoreSection {
    margin-top: 50px;
  }
  .HeroStoreContainer h3 {
    font-size: 30px;
  }
}
@media (width < 400px) {
  .HeroStoreContainer h3 {
    font-size: 25px;
  }
}

