.HeroStoreSection {
  color: var(--color-white);
  background-color: #c7bba9;
}

.HeroStoreContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
}
.HeroStoreContainer h3 {
  color: var(--color-white);
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}


@media (width < 520px) {
  .HeroStoreSection {
    margin-top: 50px;
  }
  .HeroStoreContainer h3 {
    font-size: 30px;
  }
}
@media (width < 400px) {
  .HeroStoreContainer h3 {
    font-size: 25px;
  }
}

