.AboutMeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 89px;
  padding-right: 10px;
}
.AboutMeContainer div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.AboutMeContainer img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.AboutMeContainer p{
  padding-right: 10px;
}

@media (width < 1300px) {
  .AboutMeContainer {
    flex-direction: column-reverse;
    display: flex;
  }
  .AboutMeContainer img{
    max-height: 800px;
    width: 90vw;
    max-width: none;
    margin-left: auto;
    margin-right: 0;
    object-fit: contain;
    object-position: right;
  }
}
@media (width < 520px) {
  .AboutMeContainer {
    gap: 60px;
  }
  .AboutMeContainer h2{
    font-size: 45px;
    margin-bottom: 20px;
  }
  .AboutMeContainer p{
    font-size: 30px;
  }
}
@media (width < 400px) {
  .AboutMeContainer {
    gap: 60px;
  }
  .AboutMeContainer h2{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .AboutMeContainer p{
    font-size: 20px;
  }
}