.MyServicesContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 50px;
}

.MyServicesImg{
  height: 100%;
  width: 100%;
  max-width: 787px;
  max-height: 1600px;
  object-fit: cover;
  border-radius: 20px;
}

.MyServices{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  width: 100%;
  max-width: 719px;
}

/* Cards Services */
.CardsServicesContainer{
  display: flex;
  flex-direction: column;
  gap: 71px;
}
.CardServices{
  background-color: var(--color-white);
  width: 100%;
  max-width: 719px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.CardServicesHeader{
  color: var(--color-white);
  background-color: var(--color-grey);
  padding: 28px 32px;
  border-radius: 20px 20px 0 0;
}
.CardServicesBody{
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 20px 32px 40px;
}
.CardServicesBody p{
  max-width: 500px;
}

.CardServicesButtonsCont{
  display: flex;
  gap: 30px;
}

.ServicesButton{
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.ServicesButton div:first-child{
  display: grid;
  place-items: center;
  height: 100%;
  padding: 0 16px;
  border: 1px solid var(--color-primary);
  border-radius: 20px 0 0 20px;
}
.ServicesButton div:first-child img{
  height: 27px;
  width: 27px;
  margin: auto;
}
.ServicesButton div:last-child{
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 14px 20px;
  border-radius: 0 20px 20px 0;
  transition: all .3s ease;
  border: 1px solid var(--color-primary);
  border-left: none;
}
.ServicesButton div:last-child:hover{
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-left: none;
}

@media (width < 1300px) {
  .MyServicesContainer{
    display: flex;
    flex-direction: column;
  }
  .MyServices{
    gap: 72px;
    width: 100%;
    max-width: none;
  }
  .CardServicesButtonsCont{
    flex-wrap: wrap;
  }
  .MyServicesImg{
    display: none;
  }
}
@media (width < 520px) {
  .MyServices{
    gap: 32px;
  }
  .CardsServicesContainer{
    gap: 40px;
  }
  .CardServicesHeader{
    padding: 18px 28px;
  }
  .CardServicesBody{
    padding: 20px 28px 40px;
  }
  .CardServices label{
    font-size: 25px;
  }
  .CardServices p{
    font-size: 18px;
  }
  .CardServicesButtonsCont{
    gap: 20px;
  }
  .ServicesButton div{
    font-size: 17px;
  }
  .ServicesButton div:first-child img{
    height: 17px;
    width: 17px;
    margin: auto;
  }
}