.FooterSection{
  background-color: var(--color-primary);
}

.FooterContainer{
  color: var(--color-white);
  display: flex;
  gap: 90px;
}

.FooterIMG{
  object-fit: contain;
}

.FooterDataContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  gap: 40px;
}
.FooterLinks{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.FooterTextAndSM{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 20px;
}
.FooterTextAndSM p{
  width: 70%;
  max-width: 650px;
  font-family: MADE-Mirage;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.FooterSocialMedia{
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.FooterSocialMedia a{
  background-color: var(--color-white);
  display: grid;
  place-items: center;
  height: 54px;
  width: 54px;
  border-radius: 50%;
}
.FooterSocialMedia a:first-child img{
  height: 28px;
  width: 28px;
}
.FooterSocialMedia a img{
  height: 32px;
  width: 32px;
}

.FooterCopyright{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.FooterCopyright p{
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media (width < 1380px) {
  .FooterContainer{
    gap: 70px;
    flex-direction: column;
    align-items: center;
  }
  .FooterDataContainer{
    width: 100%;
  }
}
@media (width < 900px) {
  .FooterLinks{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .FooterTextAndSM{
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .FooterTextAndSM p{
    width: 100%;
    text-align: center;
  }
  .FooterSocialMedia{
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
}
@media (width < 520px) {
  .FooterLinks a{
    font-size: 28px;
  }
  .FooterTextAndSM p{
    font-size: 26px;
  }
  .FooterCopyright p{
    font-size: 20px;
  }
}
@media (width < 400px) {
  .FooterIMG{
    width: 80%;
    margin: auto;
  }
  .FooterSocialMedia{
    flex-wrap: wrap;
  }
  .FooterLinks{
    gap: 15px;
  }
  .FooterLinks a{
    font-size: 21px;
  }
  .FooterTextAndSM p{
    font-size: 18px;
  }
  .FooterCopyright p{
    font-size: 14px;
  }
  .FooterSocialMedia a{
    height: 42px;
    width: 42px;
  }
  .FooterSocialMedia a:first-child img{
    height: 20px;
    width: 20px;
  }
  .FooterSocialMedia a img{
    height: 20px;
    width: 20px;
  }
}